<!DOCTYPE html>
<html layout:decorate="~{fragments/logged-in-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div layout:fragment="content">
    <div style="width: 60%">
        <h1 class="pb-4">Your Followed Workout Plans</h1>

        <div th:if="${plans.isEmpty()}">
            <p>You don't follow any workout plans yet. Tell your friends to share one with you now!</p>
        </div>

        <ul class="list-group" th:if="${!plans.isEmpty()}">
            <a class="list-group-item" th:each="plan : ${plans}"
               th:href="@{/workout_plans/details(planId=${plan.getId()})}">
                <div class="container-fluid p-2 m-0 text-center">
                    <h6 class="d-inline" th:text="${plan.name}"/>
                    <p class="mb-0" th:text="${service.getExerciseNamesOfPlanAsString(plan)}"/>
                </div>
            </a>
        </ul>
        <div class="alert alert-danger" th:if="${result}">
            <p th:text="${result}"/>
        </div>
    </div>
</div>
</body>
</html>