<!DOCTYPE html>
<html layout:decorate="~{fragments/logged-in-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div layout:fragment="content">
    <div style="width: 60%">
        <h1 class="pb-4" th:if="${planId} != null">Select Exercise</h1>
        <h1 class="pb-4" th:if="${planId} == null">Exercise Catalogue</h1>
        <div>
            <form method="post" th:action="@{/exercises/filter(planId=${planId})}" th:object="${filter}">
                <input class="form-control mt-3 mb-2" name="search" placeholder="Search" type="text"
                       th:field="*{query}"/>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            <form method="post" th:action="@{/exercises/reset_filter(planId=${planId})}">
                <button class="btn btn-link mt-1" type="submit">Reset Filter</button>
            </form>
        </div>
        <div class="list-group text-start mt-3">
            <div class="list-group-item" th:each="exercise: ${exercises}">
                <h4 class="list-group-item-heading" th:text="${exercise.name}"/>
                <div class="list-group-item-text">
                    <p><span class="fw-bold">Target: </span><span th:text="${exercise.category.label}"/></p>
                    <p><span class="fw-bold">Description: </span><span th:text="${exercise.description}"/></p>
                </div>
                <a class="btn btn-primary" th:href="@{/exercises/{id}/submit(id=${exercise.id}, planId=${planId})}"
                   th:if="${planId} != null">Select</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>