<!DOCTYPE html>
<html layout:decorate="~{fragments/logged-in-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div layout:fragment="content">
    <div style="width: 60%">
        <h1 class="pb-4" th:if="${planId} != null">Select Exercise</h1>
        <h1 class="pb-4" th:if="${planId} == null">Exercise Catalogue</h1>
        <div class="list-group text-start">
            <div class="list-group-item" th:each="exercise: ${exercises}">
                <h4 class="list-group-item-heading" th:text="${exercise.name}"/>
                <div class="list-group-item-text">
                    <p><span class="fw-bold">Target: </span><span th:text="${exercise.category.label}"/></p>
                    <p><span class="fw-bold">Description: </span><span th:text="${exercise.description}"/></p>
                </div>
                <a class="btn btn-primary" th:href="@{/exercises/{id}/submit(id=${exercise.id}, planId=${planId})}"
                   th:if="${planId} != null">Select</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>