<!DOCTYPE html>
<html layout:decorate="~{fragments/base-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>

<ul class="navbar-nav mr-auto" layout:fragment="nav-left">
    <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/workout_plans">Workout Plans</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/schedule">Schedule</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user_profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
</ul>

<ul class="navbar-nav ml-auto" layout:fragment="nav-right">
    <li class="nav-item">
        <a class="nav-link alert-danger" href="/unauthenticated/prelogout">Logout</a>
    </li>
</ul>

</body>
</html>