<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/logged-in-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{common.appname}"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          referrerpolicy="no-referrer"
          rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>

<div layout:fragment="content">

    <div class="text-center" style="width: 60%">
        <h1 class="mb-5" th:text="#{home.headline}"/>
        <div class="text-center" th:if="${schedule.isPaused()}">
            <p th:text="#{home.break}"/>
            <p th:text="#{home.scheduled}"/>
            <p class="font-weight-bold" th:text="${schedule.getPauseFrom()}"/>
            <p th:text="#{home.to}"/>
            <p class="font-weight-bold" th:text="${schedule.getPauseTo()}"/>
            <a class="btn btn-primary mt-2" href="/schedule" th:text="#{home.edit_break}"/>
        </div>
        <div th:if="${!schedule.isPaused()}">
            <h4 class="mb-3" th:text="#{home.current_workouts}"/>
            <ul class="list-group" th:if="${!plans.isEmpty()}">
                <a class="list-group-item" th:each="plan : ${plans}"
                   th:href="@{/workout_plans/details(planId=${plan.getId()})}">
                    <div class="container-fluid p-2 m-0 text-center">
                        <h6 class="d-inline" th:text="${plan.name}"/>
                        <p class="mb-0" th:text="${service.getExerciseNamesOfPlanAsString(plan)}"/>
                    </div>
                </a>
            </ul>
            <div class="template p-4" th:if="${plans.isEmpty()}">
                <p class="mb-0" th:text="#{home.no_workout}"/>
            </div>
        </div>

    </div>
</div>
</body>
</html>