<!DOCTYPE html>
<html layout:decorate="~{fragments/base-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <title th:text="#{onboarding.title}"/>
</head>
<body>
<div layout:fragment="content">
    <div style="width: 60%">
        <h1 class="pb-2" th:text="#{onboarding.goals.headline}"/>
        <p class="pb-4" th:text="#{onboarding.goals.info}"/>
        <form class="text-start" method="post" th:action="@{/onboarding/goals/submit}" th:object="${userData}">

            <div class="form-group pb-3">
                <label class="pb-2" for="workoutGoal" th:text="#{onboarding.goals.workout_goal}"/>
                <select class="form-control" id="workoutGoal" th:field="*{workoutGoal}">
                    <option th:each="workoutGoal : ${T(de.othr.im.gymbro.model.WorkoutGoal).values()}"
                            th:text="${workoutGoal.label}" th:value="${workoutGoal}"></option>
                </select>
                <p class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('workoutGoal')}"
                   th:text="${#strings.listJoin(#fields.errors('workoutGoal'), ', ')}"/>
            </div>

            <div class="form-group pb-3">
                <label class="pb-2" for="restTime" th:text="#{onboarding.goals.rest_time}"/>
                <input class="form-control" id="restTime" th:field="*{restTime}" type="number"/>
                <p class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('restTime')}"
                   th:text="${#strings.listJoin(#fields.errors('restTime'), ', ')}"/>
            </div>

            <button class="btn btn-primary" th:text="#{common.next}" type="submit"/>
        </form>
    </div>
</div>
</body>
</html>